html {
  scroll-behavior: smooth;
  
  margin: 0;
  padding: 0;
  
  height: 100%;
  width: 100%;
  
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  
  height: 100%;
  width: 100%;
  
  overflow-x: hidden;
}

.logo-container {
  width: 10%;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
}

.logo {
  width: 100%;
}

.tiger1-container {
  width: 10%;
  position: fixed;
  top: 2vw;
  left: 2vw;
}

.tiger1 {
  width: 90%;
}

.container {
  width: 100%;
  height: 100%;
}

.break-back {
  position: fixed;
  
  max-height: 90%;
  max-width: 90%;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  z-index: -1;
}

.break-front {
  cursor: pointer; 
  position: fixed;
  
  max-height: 90%;
  max-width: 90%;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 1;
}

.between {
  position: fixed;
  
  max-height: 75%;
  max-width: 45%;
  
  background-color: black;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video {
  visibility: hidden;
}

@media screen and (max-width: 410px) {
  .logo-container {
    width: 40%;
    bottom: 3vw;
    right: 3vw;
  }
  .tiger1-container {
    width: 40%;
    position: fixed;
    top: 3vw;
    left: 3vw;
  }
  .break-front, .break-back {
    max-height: 100%;
    max-width: 100%;
  }
  .between {
    max-height: auto;
    max-width: 50%;
  }
}